-- -*- mode: sql -*-
INSERT INTO perf VALUES(
       NULL,
       {name},
       {PARAMETRIZATION},
       {HIDDEN_L1},
       {HIDDEN_L2},
       {OUTPUT_L1},
       {OUTPUT_L2},
       {NLAYERS},
       {NUNITS},
       {LEARNING_RATE},
       {BATCH_NORM},
       {DROPOUT_INPUT},
       {DROPOUT_HIDDEN},
       {BATCH_SIZE},
       {NORMALIZATION},
       {n_excluded},
       {n_excluded_above_mbj}
);
