-- -*- mode: sql -*-
INSERT INTO perf VALUES(
       NULL,
       {name},
       {n_hidden_layers},
       {n_hidden_units},
       {normalization},
       {l2},
       {n_excluded_training},
       {n_excluded_validation}
);
